<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImgurSniper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ImgurSniper.Properties.Settings>
            <setting name="UsePNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MagnifyingGlassEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllMonitors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenAfterUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutKey" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="UsePrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveImagesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImgurAfterSnipe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsInContextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImgurRefreshToken" serializeAs="String">
                <value />
            </setting>
        </ImgurSniper.Properties.Settings>
    </userSettings>
</configuration>